# vi: set ft=yaml.ansible :

version: "3.3"

services:
  peertube:
    container_name: "{{ peertube_container }}"
    image:          "{{ peertube_image     }}"
    environment:
      PEERTUBE_DB_USERNAME: "{{ peertube_postgres_user     }}"
      PEERTUBE_DB_PASSWORD: "{{ peertube_postgres_password }}"
      PEERTUBE_WEBSERVER_HOSTNAME: "{{ site_server_name }}"
      PEERTUBE_WEBSERVER_PORT: 443
      PEERTUBE_WEBSERVER_HTTPS: true
      # If you need more than one IP as trust_proxy
      # pass them as a comma separated array:
      PEERTUBE_TRUST_PROXY: ["127.0.0.1"]
      # PEERTUBE_TRUST_PROXY: ["127.0.0.1", "loopback", "192.168.1.0/24"]
      PEERTUBE_SMTP_USERNAME:
      PEERTUBE_SMTP_PASSWORD:
      PEERTUBE_SMTP_HOSTNAME:
      PEERTUBE_SMTP_PORT: 25
      PEERTUBE_SMTP_FROM: noreply@domain.tld
      PEERTUBE_SMTP_TLS: true
      PEERTUBE_SMTP_DISABLE_STARTTLS: false
      PEERTUBE_ADMIN_EMAIL: admin@domain.tld
    depends_on:
      - postgres
      - redis
    volumes:
      - "{{ peertube_data_path }}:/data"
      - "{{ peertube_config_path }}:/config"
    ports:
      - "127.0.0.1:9334:9000"
    networks:
      - {{ docker_network_name }}
    restart: always

  postgres:
    container_name: "{{ peertube_postgres_container }}"
    image:          "{{ peertube_postgres_image     }}"
    environment:
      POSTGRES_DB:       peertube
      POSTGRES_USER:     "{{ peertube_postgres_user     }}"
      POSTGRES_PASSWORD: "{{ peertube_postgres_password }}"
    volumes:
      - "{{ peertube_postgres_data_path }}:/var/lib/postgresql/data"
      - "{{ peertube_postgres_scripts_path }}:/docker-entrypoint-initdb.d"
      - "{{ peertube_postgres_backups_path }}:/tmp"
    networks:
      - {{ docker_network_name }}
    restart: always

  redis:
    container: "{{ peertube_redis_container }}"
    image:     "{{ peertube_redis_image     }}"
    volumes:
      - "{{ peertibe_redis_data_path }}:/data"
    networks:
      - {{ docker_network_name }}
    restart: always

networks:
  {{ docker_network_name }}:
    # https://docs.docker.com/compose/compose-file/#external-1
    external: true

