[Unit]
Description=Peertube Postgres database backup

[Service]
Type=oneshot
ExecStart={{ peertube_path}}/backup-peertube-database.sh {{ peertube_postgres_container }} {{ peertube_postgres_image }} {{ peertube_postgres_db }} {{ peertube_postgres_backups_path }}
