# vim: set ft=nginx :

#------------------------------------------------#
# Gitlab                                         #
#------------------------------------------------#
#
# https://docs.gitlab.com/omnibus/settings/nginx.html
#
# Configuration from gitlab.org recipes, see link below
# https://gitlab.com/gitlab-org/gitlab-recipes/blob/master/web-server/nginx/gitlab-omnibus-ssl-nginx.conf
# Modification for Nginx <=> Nginx communication

upstream gitlab {
  server 127.0.0.1:8617 fail_timeout=0;
}

server {
    listen 80;
    listen [::]:80 ipv6only=on;
    server_name {{ site_server_name }};
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ipv6only=on ssl http2;

    server_name {{ site_server_name }};

    {%- if letsencrypt_certificates.stat.exists -%}
    ssl_certificate /etc/letsencrypt/live/{{ site_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ site_server_name }}/privkey.pem;
    {% else %}
    ssl_certificate /etc/ssl/certs/ssl-cert-snakeoil.pem;
    ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;
    {% endif %}

    ## Individual nginx logs for this GitLab vhost
    access_log  /var/log/nginx/gitlab_access.log;
    error_log   /var/log/nginx/gitlab_error.log;

    location / {
        client_max_body_size 0;
        gzip off;

        ## https://github.com/gitlabhq/gitlabhq/issues/694
        ## Some requests take more than 30 seconds.
        proxy_read_timeout    300;
        proxy_connect_timeout 300;
        proxy_redirect        off;

        proxy_http_version    1.1;

        proxy_set_header Host                $http_host;
        proxy_set_header X-Real-IP           $remote_addr;
        proxy_set_header X-Forwarded-Ssl     on;
        proxy_set_header X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto   $scheme;
        proxy_pass       http://gitlab;
    }
}
