[Unit]
Description=Timer to run Gitlab Backup

[Timer]
OnCalendar={{ gitlab_backup_timer }}
RandomizedDelaySec={{ gitlab_backup_timer_random_delay }}
Persistent=true

[Install]
WantedBy=timers.target
