[Unit]
Description=Auto renewal of Let's Encrypt's certificates

[Timer]
OnCalendar={{ certbot_timer }}
RandomizedDelaySec={{ certbot_timer_random_delay }}
Persistent=true

[Install]
WantedBy=timers.target
