#! /usr/bin/env sh

#------------------------------------------------#
# Docker                                         #
#------------------------------------------------#

export DOCKER_HOST=tcp://{{ ansible_hostname }}:2376
export DOCKER_TLS_VERIFY=1
