# vi: set ft=yaml.ansible :

version: "3"

services:
  nextcloud:
    container_name: "{{ nextcloud_container }}"
    image:          "{{ nextcloud_image     }}"
    environment:
      NEXTCLOUD_ADMIN_USER:     "{{ nextcloud_admin_user        }}"
      NEXTCLOUD_ADMIN_PASSWORD: "{{ nextcloud_admin_password    }}"
      POSTGRES_HOST:            postgres
      POSTGRES_DB:              "{{ nextcloud_postgres_db       }}"
      POSTGRES_USER:            "{{ nextcloud_postgres_user     }}"
      POSTGRES_PASSWORD:        "{{ nextcloud_postgres_password }}"
      NEXTCLOUD_TRUSTED_DOMAINS: "{{ site_server_name }}"
    depends_on:
      - postgres
    volumes:
      - "{{ nextcloud_data_path }}:/var/www/html"
    ports:
      - "127.0.0.1:9000:9000"
    networks:
      - {{ docker_network_name }}
    restart: always

  collabora:
    container_name: "{{ nextcloud_collabora_container }}"
    image:          "{{ nextcloud_collabora_image     }}"
    environment:
      domain:      "{{ nextcloud_collabora_domain      }}"
      server_name: "{{ nextcloud_collabora_server_name }}"
    # https://docs.docker.com/compose/compose-file/#cap_add-cap_drop
    # List of capabilities to add to the container.
    cap_add:
      - MKNOD
    ports:
      - "127.0.0.1:9980:9980"
    networks:
      - {{ docker_network_name }}
    restart: always

  postgres:
    container_name: "{{ nextcloud_postgres_container }}"
    image:          "{{ nextcloud_postgres_image     }}"
    environment:
      # https://github.com/nextcloud/docker/issues/345
      POSTGRES_DB:       foobar
      POSTGRES_USER:     "{{ nextcloud_postgres_user     }}"
      POSTGRES_PASSWORD: "{{ nextcloud_postgres_password }}"
    volumes:
      - "{{ nextcloud_postgres_data_path }}:/var/lib/postgresql/data"
      - "{{ nextcloud_postgres_scripts_path }}:/docker-entrypoint-initdb.d"
      - "{{ nextcloud_postgres_backups_path }}:/tmp"
    networks:
      - {{ docker_network_name }}
    restart: always

networks:
  {{ docker_network_name }}:
    # https://docs.docker.com/compose/compose-file/#external-1
    external: true
