[Unit]
Description=Nextcloud Postgres database backup

[Service]
Type=oneshot
ExecStart={{ nextcloud_path}}/backup-nextcloud-database.sh {{ nextcloud_postgres_container }} {{ nextcloud_postgres_image }} {{ nextcloud_postgres_db }} {{ nextcloud_postgres_backups_path }}
