<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
    <link rel="stylesheet" href="public/css/style.css"/>
    <link rel="stylesheet" href="public/css/font-pt.css"/>
</head>
<body>
    <section class="container">
        <article><ul id="list">
            <li><a href="//{{SITE_SERVER_NAME}}/grafana">
                <h3>Grafana</h3>
		<hr>
                <img width="400px" src="public/img/grafana_panel.png" alt="grafana vectorized dashboard" />
            </a></li>
	    <li><a href="//{{SITE_SERVER_NAME}}/prometheus">
                <h3>Prometheus</h3>
		<hr>
                <img width="400px" src="public/img/prometheus_grafana.png" alt="prometheus integration in grafana" />
            </a></li>
	    <li><a href="//{{SITE_SERVER_NAME}}/alertmanager">
                <h3>Alertmanager</h3>
		<hr>
                <img width="400px" src="public/img/prometheus_alertmanager.png" alt="prometheus alerts dashboard in grafana" />
            </a></li>
        </ul></article>
    </section>
</body></html>
