# vi: set ft=jinja2.yaml :

# config file version
apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
  - name: Prometheus
    orgId: 1

# list of datasources to insert/update depending
# whats available in the database
datasources:
  # <string, required> name of the datasource. Required
- name: Prometheus
  # <string, required> datasource type. Required
  type: prometheus
  # <string, required> access mode. proxy or direct (Server or Browser in the UI). Required
  access: direct
  # <int> org id. will default to orgId 1 if not specified
  orgId: 1
  # <string> url
  url: https://{{ site_server_name }}/prometheus
  version: 1
  editable: true
# - name: Gitlab
#   # <string, required> datasource type. Required
#   type: prometheus
#   # <string, required> access mode. proxy or direct (Server or Browser in the UI). Required
#   access: proxy
#   # <string> url
#   url: http://gitlab:9090
#   version: 1
#   # <bool> allow users to edit datasources from the UI.
#   editable: true
- name: Loki
  type: loki
  access: proxy
  url: http://loki:3100
  basicAuth: true
  basicAuthUser: {{ monitoring_loki_admin_user }}
  basicAuthPassword: {{ monitoring_loki_admin_password }}
  jsonData:
    maxLines: 1000
