# vi: set ft=yaml.ansible :

version: "3"

services:
  # https://github.com/prometheus/alertmanager
  alertmanager:
    container_name: "{{ monitoring_alertmanager_container }}"
    image:          "{{ monitoring_alertmanager_image     }}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:{{ site_server_name }};PathPrefixStrip:/alertmanager"
      - "traefik.frontend.entryPoints=https"
      - "traefik.frontend.auth.basic={{ monitoring_nginx_auth['content'] | b64decode | replace('$','$$')}}"
      - "traefik.port=9093"
    command:
      - '--web.external-url=https://{{ site_server_name }}/alertmanager'
      - '--web.route-prefix=/'
    volumes:
      - "{{ monitoring_alertmanager_config_path }}:/etc/alertmanager"
    networks:
      - {{ docker_network_name }}
      - web
    restart: always

  # http://docs.grafana.org/installation/docker/
  grafana:
    container_name: "{{ monitoring_grafana_container }}"
    image:          "{{ monitoring_grafana_image     }}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:{{ site_server_name }};PathPrefixStrip:/grafana"
      - "traefik.frontend.entryPoints=https"
      - "traefik.port=3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "{{ monitoring_grafana_admin_password }}"
    volumes:
      - "{{ monitoring_grafana_data_path }}:/var/lib/grafana"
      # http://docs.grafana.org/installation/configuration/
      - "{{ monitoring_grafana_path }}/grafana.ini:/etc/grafana/grafana.ini"
      # http://docs.grafana.org/administration/provisioning/#provisioning-grafana
      - "{{ monitoring_grafana_provisioning_path }}:/etc/grafana/provisioning"
    networks:
      - {{ docker_network_name }}
      - web
    restart: always

  prometheus:
    container_name: "{{ monitoring_prometheus_container }}"
    image:          "{{ monitoring_prometheus_image     }}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:{{ site_server_name }};PathPrefixStrip:/prometheus"
      - "traefik.frontend.entryPoints=https"
      - "traefik.frontend.auth.basic={{ monitoring_nginx_auth['content'] | b64decode | replace('$','$$')}}"
      - "traefik.port=9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention=6h'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.external-url=https://{{ site_server_name }}/prometheus'
      - '--web.route-prefix=/'
    volumes:
      - "{{ monitoring_prometheus_config_path }}:/etc/prometheus"
      - "{{ monitoring_prometheus_data_path }}:/prometheus"
    networks:
      - {{ docker_network_name }}
      - web
    restart: always

  homepage:
    container_name: "{{ monitoring_homepage_container }}"
    image:          "{{ monitoring_homepage_image }}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:{{ homepage_site_server_name }}"
      - "traefik.frontend.entryPoints=https"
      - "traefik.port=8080"
    environment:
      SITE_SERVER_NAME: "{{ site_server_name }}"
    networks:
      - {{ docker_network_name }}
      - web
    restart: always

  #------------------------------------------------#
  #                   Exporters                    #
  #------------------------------------------------#

  cadvisor:
    container_name: "{{ monitoring_cadvisor_container }}"
    image:          "{{ monitoring_cadvisor_image     }}"
    expose:
      - 8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    networks:
      - {{ docker_network_name }}
    restart: always

  node_exporter:
    container_name: "{{ monitoring_node_exporter_container }}"
    image:          "{{ monitoring_node_exporter_image     }}"
    expose:
      - 9100
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    networks:
      - {{ docker_network_name }}
    restart: always

  #------------------------------------------------#
  #                      Logs                      #
  #------------------------------------------------#

  loki:
    container_name: "{{ monitoring_loki_container }}"
    image:          "{{ monitoring_loki_image     }}"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - {{ docker_network_name }}
    restart: always

  promtail:
    container_name: "{{ monitoring_promtail_container }}"
    image:          "{{ monitoring_promtail_image     }}"
    command: -config.file=/etc/promtail/docker-config.yaml
    networks:
      - {{ docker_network_name }}
    volumes:
      - "/var/log:/var/log"
    restart: always

networks:
  {{ docker_network_name }}:
    # https://docs.docker.com/compose/compose-file/#external-1
    external: true
  web:
    external: true
