# vi: set ft=dosini :

#------------------------------------------------#
#                    Grafana                     #
#------------------------------------------------#
# http://docs.grafana.org/installation/configuration/

instance_name = ${HOSTNAME}

[server]
# http://docs.grafana.org/installation/behind_proxy/
domain = {{ site_server_name }}
root_url = %(protocol)s://%(domain)s/grafana/

[paths]
# Folder that contains provisioning config files that grafana will apply on startup. Dashboards will be reloaded when the json files changes
provisioning = /etc/grafana/provisioning

[alerting]
# Defaults to true. Set to false to disable alerting engine and hide Alerting from UI.
enabled = false

[security]
# Set to true to disable the use of Gravatar for user profile images. Default is false.
disable_gravatar = true

[analytics]
# When enabled Grafana will send anonymous usage statistics to stats.grafana.org. No IP addresses are being tracked, only simple counters to track running instances, versions, dashboard & error counts. It is very helpful to us, so please leave this enabled. Counters are sent every 24 hours. Default value is true.
reporting_enabled = false
