# vi: set ft=jinja2.yaml :

#------------------------------------------------#
#                   Prometheus                   #
#------------------------------------------------#
# https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus.yml

global:
  scrape_interval: 15s
  external_labels:
    host: {{ inventory_hostname }}

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090", "traefik:8080", "cadvisor:8080", "node_exporter:9100"]

