body {
    /* background-color: #1C7293 */
    background-color: #262626;
    font-family: 'pt_sansregular', sans-serif;
    color: #EAEAEA;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
}

a {
  color: #EAEAEA;
  text-decoration: none;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}

li:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5); */
  background: linear-gradient(135deg, #343434 0%, #262626 100%);
  /*animation: ease-in-out;
  animation-name: smoothFocus;
  animation-delay: 3s;*/
}

@keyframes smoothFocus {
    from {
        background: linear-gradient(135deg, #2f2f2f 0%, #262626 100%);
    }
    to {
        background: linear-gradient(135deg, #343434 0%, #262626 100%);
    }
}

ul > li {
    list-style-type: none;
    padding: 1rem;
    margin: 0 0 15px 0;
    border-radius: 4px;
    background: linear-gradient(135deg, #2f2f2f 0%, #262626 100%);
    box-shadow: -1px -1px 0px 0px rgba(255, 255, 255, 0.1), 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    /* background: url("./health.jpg") 0 0 repeat;
    background-size: cover; */
}

ul#list {
    display: grid;
    justify-content: space-around;
}

h3 {
    text-align: center;
    margin: 0.2rem;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.1;
}

hr {
	/* border: 1px solid #444; */
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(93, 94, 94, 0.75), rgba(0, 0, 0, 0));
}
